<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Abel&family=Abhaya+Libre:wght@400;500;600;700;800&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>Welcome YOKO TRADE</title>
  </head>
  <body style="background: #fafafa;">
    <table border="0" style="width: 100%;">
      <tbody>
        <tr align="center">
          <td>
            <p
              style="
                font-family: 'Abhaya Libre';
                font-style: normal;
                font-weight: 900;
                font-size: 32px;
                line-height: 38px;
                letter-spacing: 8px;
                margin-bottom: 0;
                color: #5f5cec;
                text-align: center;
              "
            >
              YOKO
            </p>
          </td>
        </tr>
        <tr align="center">
          <td>
            <p
              style="
                font-family: 'Abel';
                font-style: normal;
                font-weight: 900;
                font-size: 18px;
                line-height: 23px;
                letter-spacing: 9px;
                margin-top: 0;
                color: #9298b8;
                text-align: center;
              "
            >
              TRADE
            </p>
          </td>
        </tr>
      </tbody>
    </table>
    <table
      border="0"
      style="width: 100%; padding-left: 5em; padding-right: 5em;"
      cellspacing="0"
      cellpadding="0"
    >
      <tbody style="background: #ffffff;">
        <tr align="center">
          <td>
            <h1
              style="
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 600;
                font-size: 23px;
                line-height: 36px;
                text-align: center;
                color: #181938;
              "
            >
              Верификация профиля
            </h1>
          </td>
        </tr>
        <tr align="center">
          <td>
            <h1
              style="
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #181938;
              "
            >
              Уважаемый пользователь!
            </h1>
          </td>
        </tr>
        <tr align="center">
          <td>
            <h1
              style="
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                color: #181938;
              "
            >
              Вы зарегистрировали
              {{email}}
              как идентификатор вашей учетной записи Yoko trade. Чтобы
              подтвердить свой адрес электронной почты, нажмите сюда:
            </h1>
          </td>
        </tr>
        <tr align="center" style="height: 94px;">
          <td>
            <a
              href={{url}}
              target="_blank"
              style="
                width: 217px;
                height: 54px;
                background: #5f5cec;
                outline: none !important;
                border: none !important;
                cursor: pointer;
                margin-bottom: 2em;
                border-radius: 15px;
                padding-left: 15px;
                padding-right: 15px;
                padding-top: 10px;
                padding-bottom: 10px;
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 600;
                font-size: 16px;
                line-height: 14px;
                color: #ffffff;
                text-decoration: none;
              "
            >
              Подтвердить e-mail
            </a>
          </td>
        </tr>
      </tbody>
    </table>
    <table border="0" style="width: 100%;">
      <tbody>
        <tr align="center" style="border: none !important;">
          <td>
            <h1
              style="
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 130%;
                text-align: center;
                color: #181938;
                margin-bottom: 0;
              "
            >
              Если вы не видите кнопку, то перейдите по этой ссылке:
              <br />
              <span><a
                  href={{url}}
                  target="_blank"
                  style="
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 12px;
                    line-height: 130%;
                    text-align: center;
                    text-decoration-line: underline;
                    color: #5f5cec;
                  "
                >Ссылка</a></span>
            </h1>
          </td>
        </tr>
        <tr align="center" style="border: none !important;">
          <td>
            <h1
              style="
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 16px;
                text-align: center;
                color: #181938;
                margin-top: 0;
              "
            >
              © 2023 yokotrade.io
            </h1>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>